#calendar{
    position: relative;
    display: grid;
    grid-template-columns: 105px 105px ;
    grid-template-areas: 
    "mon tu "
    "wed thur"
    "fri sat"
    "sun full";

    gap: 40px;
    background-color: $ligher;

    grid-area: calendar;

    margin-bottom: 30px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 30px;
    width: 280px;

    @include md{
        grid-template-columns: 150px 150px;
        margin-bottom: 120px;
        margin-right: 225px;
        margin-left: 90px;
        margin-top: 50px;
        padding-left: 70px;
        padding-right: 10px;
        width: 420px;
    }

    >div{
        // // display: flex;
        // flex-direction:column;
        background-color: $pale;
        border: solid 2px $lightnavy;
        height: 105px;
        width: 105px;

        @include md{
            height: 150px;
        width: 150px; 
        }

        
    }

    h3{
        padding: 5px;
        text-align: center;
            color: white;
            background-color: $lightnavy;
            font-size: rem-calc(16);

            @include md{
                font-size: rem-calc(20);
            }
    }

    h4{
        // display: flex;
        text-align: center;
        color: $lightnavy;
        align-items: center;
        // justify-content: center;
        // padding-top: 30px;

        @include md{
            font-size: rem-calc(15);
        }
    }

    h1{
        margin-bottom: 30px;
    }

    #cTop {
        display: none;
        @include md{
            display: inline;
            position: absolute;
            height: 20px;
            width: 90%;
            background-color: $pale;
            border: none;
            top:-20px;
            left:0;
        }

        @include lg{
            display: none;
        }
        
    }

    #cLeft {
        display: none;
        @include md{
            display: inline;
            position: absolute;
            height: 90%;
            width: 20px;
            background-color: $pale;
            border: none;
            top:-20px;
            left:-20px;
        }

        @include lg{
            display: none;
        }
       
    }


        
    }
   

    #mon{
        grid-area: mon;
    }
    #tu{
        grid-area: tu;
    }
    #wed{
        grid-area: wed;
    }
    #thur{
        grid-area: thur;
    }
    #fri{
        grid-area: fri;
    }
    #sat{
        grid-area: sat;
        h4{
         
            font-size: rem-calc(11);
        }
    }
    #sun{
        grid-area: sun;
        h4{
            font-size: rem-calc(11);
        }
    }
    #full{
        grid-area: full;
    }

#caltitle{
    margin-bottom: 20px;
    margin-left: 20px;
    color: $lightnavy;

    @include md{
        margin-left: 90px;
    }

}

#thisweek{

        color: $lightnavy;
        margin-left: 20px;

        @include md{
            margin-left: 90px;
        }
    

    @include lg{
        display: none;
    }
}
