#hero{

    h1{
        color: $lightnavy;
        margin-bottom: 25px;
        margin-top: 25px;

        display: none;

        @include md{
            display: flex;
        }
    }

 #mainhero{
     padding-top: 10px;
     padding-left: 10px;
     border-bottom: 2px solid lighter;
     color: $pale;
    background-image: url("../img/crab.jpg");
    
    height: 315px;

    background-position: center right;

   background-size: cover;

   @include md{
       height: 285px;
       margin: 50px;
       margin-right: 200px;
   }

   @include lg{
    height: 430px;
   

}

@include xl{
    height: 590px;
    margin-right: 335px;
  
}
 }

 #Read{

        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;

        @include md{
            display: none;
        }
    
   
 }
}
