#main{
       
 h2{
     color: $lightnavy;
 } 

    @include md{
        display: grid;
        grid-template-columns: 75px auto 230px;
        grid-template-areas: ". main .";
     
    }


    @include lg{
       article{
           display: flex;
       
       }

     
    }

//    section{
//     grid-area: main;
//    }

>div{
    grid-area: main;
    margin-bottom: 15px;

    article{
        margin-bottom: 15px;
        gap: 15px;
        >div{
            background-color: $ligher;
            // margin-bottom: 10px;
        }
    }
}
}

#autumn{
    grid-area: autumn;
}

#winter{
    grid-area: winter;
}

#spring{
    grid-area: spring;
}

#summer{
    grid-area:summer
}

