#plant {
    position: relative;
    background-image: url("../img/plants.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;

    // margin-bottom: 150px;

    @include md {
        height: 390px;
        margin-left: 70px;
        margin-right: 255px;
        margin-bottom: 15px;
    }


    @include lg {
        height: 700px;
        margin-left: 217px;
        margin-right: 335px;
        margin-bottom: 15px;
    }


    @include xl {
        height: 830px;
        margin-left: 325px;
        margin-right: 560px;
        margin-bottom: 15px;
    }







    #pTop {
        display: none;

        @include md {
            display: inline;
            position: absolute;
            height: 20px;
            width: 90%;
            background-color: $pale;
            top: -20px;
            right: 0;
        }

        @include lg {
            display: none;
        }

    }

    #pRight {
        display: none;

        @include md {
            display: inline;
            position: absolute;
            height: 90%;
            width: 20px;
            background-color: $pale;
            top: -20px;
            right: -20px;
        }

        @include lg {
            display: none;
        }
    }

    #pTop2 {
        display: none;

        @include lg {
            display: inline;
            position: absolute;
            height: 20px;
            width: 90%;
            background-color: $pale;
            top: -20px;
            left: 0;
        }

    }

    #pLeft {
        display: none;

        @include lg {
            display: inline;
            position: absolute;
            height: 90%;
            width: 20px;
            background-color: $pale;
            top: -20px;
            left: -20px;
        }
    }





}

#mainbutton {
    display: none;

    // button {
    //     // margin-top: 400px;

    // }

    @include md {
        display: flex;

    }

    margin-bottom: 120px;
    margin-left: 70px;

    @include lg {
        margin-bottom: 225px;
        margin-left: 217px;
    }

    @include xl {
        margin-left: 325px;
        margin-bottom: 275px;
    }
}

#mobilebutton {
    margin-top: 10px;

    margin-bottom: 150px;

    //  margin-left: 200px;
    display: flex;
    justify-content: center;

    @include md {
        display: none;
    }

}

#mobiletitle {
    h2 {
        // display: flex;
        // justify-content: center;
        text-align: center;
        color: $lightnavy;
        margin-bottom: 10px;

        @include md {
            display: none;

        }
    }
}