#reopen {

    background-image: url("../img/info.jpg");
    background-size: cover;
    height: 350px;
    background-position: center;
    position: relative;
    // display: flex;
    margin-bottom: 200px;

    @include md {
        margin-left: 70px;
        margin-right: 200px;
    }

    @include lg {
        margin-left: 45px;
        margin-right: 200px;
        height: 430px;
    }


    @include xl {
        margin-left: 65px;
        margin-right: 325px;
        height: 530px;
    }



    h2 {
        // display: flex;
        padding: 10px;
        color: $lightnavy;
        text-align: center;
        // align-items: bottom;


        @include md {
            text-align: left;
            font-size: rem-calc(26);
            width: 190px;
            margin-left: 300px;
        }
    }


    p {
        padding: 10px;
        display: none;

        @include md {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            text-align: left;
            width: 190px;
            font-size: rem-calc(20);
        }
    }

    #redmo{
        display: flex;
        justify-content: center;

        @include md{
            justify-content: flex-start;
        }

        @include lg{
            justify-content: flex-end;
            padding-right: 50px;
        }

    button{
        height: 70px;
        width: 230px;
        margin-top: 320px;

        @include md{
            margin-top: 25px; 
        }

        @include lg{
            margin-top: 35px;
            height: 65px;
            width: 155px;
        }
    }
    }

    

    // button{
    //     display: flex;
    //     justify-content: center;
    // }

    #rTop {
        display: none;
        @include md{
            display: inline;
            position: absolute;
            height: 20px;
            width: 90%;
            background-color: $pale;
            top:-20px;
            left:0;
        }
        
    }

    #rLeft {
        position: absolute;
        height: 90%;
        width: 20px;
        background-color: $pale;
        top:-20px;
        left:-20px;
    }
}