#slider {
    display: none;
    background-color: $ligher;

    margin-top: 30px;
    @include md {
        button {
            margin: 10px;

        }

        display: flex;
        flex-direction: column;

        position: fixed;
        right: 0;

        //  justify-content: flex-end;

    }


    // @include lg{
    //     display: flex;
    //     flex-direction: column;
    //   position: fixed;
    //  justify-content: flex-end;
    // }


    // @include xl{
    //     display: flex;
    //     flex-direction: column;
    //   position: fixed;
    //  justify-content: flex-end;
    // }


}