#slider{
    display: none;
    background-color: $ligher;

    @include md{
        button{
            margin: 10px;

        }
        display: flex;
        flex-direction: column;
      position: fixed;
    //  justify-content: flex-end;
    }


    // @include lg{
    //     display: flex;
    //     flex-direction: column;
    //   position: fixed;
    //  justify-content: flex-end;
    // }


    // @include xl{
    //     display: flex;
    //     flex-direction: column;
    //   position: fixed;
    //  justify-content: flex-end;
    // }


}