#slider{
    display: none;

    @include md{
        display: flex;
        flex-direction: column;
      position: fixed;
     justify-content: flex-end;
    }


    // @include lg{
    //     display: flex;
    //     flex-direction: column;
    //   position: fixed;
    //  justify-content: flex-end;
    // }


    // @include xl{
    //     display: flex;
    //     flex-direction: column;
    //   position: fixed;
    //  justify-content: flex-end;
    // }


}